.container{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.titletop {
  color: White;
  margin-left: 10px;
}

.title{
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
margin-left: 10px;
color: white;
}

 .drop1 {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background-size: 100% 100%;
  padding-left: 15px;
 }

 button {
  margin-top: 10px;
  padding: 3px;
  border-radius: 50px;
  cursor: pointer;
 }